---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import ProductCard from "../../../components/ProductCard.astro";
import { products } from "../../../data/products";

export async function getStaticPaths() {
  const categories = [
    ...new Set(products.map((p) => p.category.toLowerCase())),
  ];

  return categories.map((c) => ({
    params: { category: c },
  }));
}

const { category } = Astro.params;

const filtered = products.filter((p) => p.category.toLowerCase() === category);
---

<BaseLayout title={`Kategorie ${category}`}>
  <h1 class="text-4xl font-semibold mb-16 capitalize">
    {category}
  </h1>

  <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-14">
    {filtered.map((p) => <ProductCard product={p} />)}
  </div>
</BaseLayout>
