---
const { title } = Astro.props;
---

<html lang="cs">
  <head>
    <meta
      name="description"
      content={Astro.props.description || "Prémiový katalog kol"}
    />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={Astro.props.description || ""} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url.href} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | CykloKatalog</title>
  </head>

  <body class="bg-[#f8f8f6] text-[#111] font-sans antialiased">
    <header class="bg-white/70 backdrop-blur border-b border-neutral-200">
      <div
        class="max-w-7xl mx-auto px-8 py-6 flex justify-between items-center"
      >
        <a href="/" class="text-2xl font-semibold tracking-tight">
          CykloFlos.cz
        </a>

        <nav class="flex gap-10 text-sm uppercase tracking-wide">
          <a href="/kola" class="hover:text-neutral-500 transition"> Kola </a>
        </nav>
      </div>
    </header>

    <main class="max-w-7xl mx-auto px-8 py-20">
      <slot />
    </main>

    <footer class="border-t border-neutral-200 mt-24">
      <div class="max-w-7xl mx-auto px-8 py-8 text-sm text-neutral-500">
        © 2026 CykloKatalog
      </div>
    </footer>
  </body>
</html>
